body {
    background: #c0c0c0;
    font-family: "Times New Roman", serif;
    color: black;
    margin: 0;
}

header {
    background: #fcf228;
    color: #2836fc;
    text-align: center;
    padding: 20px;
    border-bottom: 4px solid black;
}

header h1 {
    margin: 0;
    font-family: champagne, cursive;
    font-size: 2.5em;
}

nav {
    margin-top: 10px;
}

nav a {
    color: #ff00ff;
    font-weight: bold;
    margin: 0 10px;
    text-decoration: underline;
}

nav a:visited {
    color: #ff00ff;
}

nav a:hover {
    background-color: navy;
    color: black;
}

main {
    max-width: 1100px;
    margin: auto;
    padding: 20px;
}

/*
.left-column,
.right-column {
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
*/

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.gallery img {
    width: 250px;
    height: 250px;
    object-fit: cover;

    border: 6px ridge white;
    background: white;
    padding: 4px;

    transition: transform 0.2s;
}

.gallery img:hover {
    transform: scale(1.05);
}

.photo-container {
    text-align: center;
}

.photo-container img {
    width: 600px;
    max-width: 100%;
    border: 4px solid black;
}

footer {
    text-align: center;
    padding: 20px;
}

/* All stickers */
.sticker {
    position: absolute;
    pointer-events: none;
}

.sticker img {
    width: 80px;
    height: 100%;
    border: ;
}

/* Individual positions */

.sticker1 {
   /* top: 40px; */
    top: 5%;
    left: 7%;
    transform: rotate(-20deg);
}

.sticker2 {
 /*   top: 200px;  */
    top: 30%;
    right: 15%;
    transform: rotate(15deg);
}

.sticker3 {
   /* bottom: 120px; */
    top: 80%;
    left: 20%;
    transform: rotate(-10deg);
}

.sticker4 {
  /*  bottom: 50px; */
    top: 95%;
    right: 10%;
    transform: rotate(25deg);
}

.sticker5 {
    top: 60%;
    left: 70%;
    transform: rotate(37deg);
    z-index: 5;
}

.sticker6 {
    top: 40%;
    right: 80%;
    transform: rotate(-42deg);
    z-index: 2;
}

@keyframes float {
    0%   { transform: translateY(0px) rotate(-10deg); }
    50%  { transform: translateY(-10px) rotate(-8deg); }
    100% { transform: translateY(0px) rotate(-10deg); }
}

.sticker img {
    width: 80px;
    animation: float 4s ease-in-out infinite;
}

.sticker2 img {
    animation-duration: 5s;
}

.sticker3 img {
    animation-duration: 3s;
}

.polaroid {
    position: absolute;
/*    float: left; */
    width: clamp(50px, 5vw, 250px);
    /* width: min(100px, 5vw); */
    /* width: 180px; */
    margin: 20px;
    background: white;
    padding: 10px 10px 30px;
    box-shadow: 4px 4px 0 black;
}

.polaroid img {
    width: 100%;
}

.polaroid p {
    text-align: center;
    margin: auto;
}

.polaroid1 {
    top: 50%;
    right: 90%;
    transform: rotate(-8deg);
    z-index: 5;
}

.polaroid2 {
    bottomm: 50%;
    left: 90%;
    transform: rotate(8deg);
    z-index: 5;
}

/*
.left-polaroid {
    float: left
    margin: 0 20px 20px 0;
    transform: rotate(-8deg);
}

.right-polaroid {
    float: right
    margin: 0 20px 20px 0;
    transform: rotate(8deg);
}
*/

/*
.left-polaroid {
    position: absolute;
    left: -250px;
    top: 100px;
    transform: rotate(-8deg);
}

.right-polaroid {
    position: absolute;
    right: -250px;
    top: 250px;
    transform: rotate(8deg);
}
*/
